/* Footer styles */

footer {
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    line-height: 59px;
    text-align: center;
    background-color: #FFFFFF;
    border-top: 1px solid #CCCCCC;
}